# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# DB
*.db
*.sqlite3

# 환경
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

backend/src/arena/server/secrets/
